@use "../../assets/styles/mixins" as mixin;

.header{
  position: relative;
  height:100px;
  background-color: var(--gray-2);
  padding: 10px 20px;
  box-shadow: var(--box-shadow-nav);
  color: var(--gray-3);
  img {
    width: 100px;
  }
}

.headerList{
  @include mixin.xs{
    display: none;
  }
}

.headerXs{
  display: none;
  cursor: pointer;

  @include mixin.xs{
    display: block;
  }

  &:hover{
    opacity: 0.8;
    transform: rotate(90deg);
  }

  transition: opacity 0.2s, transform 0.2s;
}