.search {
  width: 300px;
  position: relative;
  right: 0px;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid var(--gray-2);
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--gray-2);
}

.searchTerm:focus{
  color: var(--gray-1);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid var(--gray-2);
  background: var(--gray-2);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchTag{
  padding: 8px;
  background-color: var(--gray-2);
  max-width: 200px;
  color: var(--text-color);
  border-radius: 10px;
  margin: 5px;
  transition: 0.2s color;
  &:hover{
    cursor: pointer;
    color: var(--primary);
  }
}