.signUpCard{
  border-radius: 5px;
  border: 1px solid var(--gray-3);
  background-color: var(--gray-2);
  height: 500px;
  min-width: 0;
  margin: 30px;
  width: 900px;
}

.signUpForm {
  padding: 50px;
  width: 100%;
}
.signUpImage{
  height: 100%;
  width: 100%;
  img{
    height: 100%;
    width:auto;
  }
}