:root {
  --primary: #ff9f43;
  --gray-1: #222f3e;
  --gray-2: #ecf0f1;
  --font-family: "Montserrat", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: 0 2px 18px 0 rgb(0 0 0 / 22%);
  --text-color: #444;
}